
<h2>Highest Rated:</h2>
<% if @figures %>
  <ul>
  <% @figures.to_a.slice(0,3).each do |figure| %>
    <li/><%= figure.name  %>
  <% end %>
  </ul>
<h2>Lowest Rated:</h2>
  <ul>
  <% @figures.to_a.slice(@figures.length - 3, @figures.length).each do |figure| %>
    <li/><%= figure.name  %>
  <% end %>
  </ul>

<h3>Figure List</h3>
  <ul>
  <% @figures.each do |figure| %>
    <li>
      <%= link_to figure.name, figure_path(figure) %> - Average Rating: <%= @figures_with_average_rating[figure.id] %>
    </li>
  <% end %>
  </ul>
<% end %>
