<h1>Historical Figure Index<h1>

<% if @figures %>
  <ul>
  <% @figures.each do |figure| %>
    <li>
      <%= link_to figure.name, figure_path(figure) %> - Average Rating: <%= @figures_with_average_rating[figure.id] %>
    </li>
  <% end %>
  </ul>
<% end %>

<% unless @figures.empty? %>
  <p>Highest Rated - <%= @figures.first.name %></p>
  <p>Lowest Rated - <%= @figures.last.name %></p>
<% end %>
