<h1><%=@user.name %> </h1>

<%= image_tag(@user.avatar.large_avatar) %>

<%= link_to 'Edit Profile Picture', edit_user_path(@user) %>

<%= button_to 'Delete Account', @user, { method: :delete, data: { confirm: 'Are you sure?' }} %>
