<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Someone has rated your figure, <%= @user.name %>!</h3>
  </body>
</html>
